<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %> - <%= data.config.site_info.title %></title>
    
    <%= javascript_include_tag "jquery-1.11.0.min.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "amazon.css" %>
    <%= stylesheet_link_tag "pygment_trac.css" %>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
	<!-- header eyecatch -->
	<header class="eyecatch">
	  <span class="sitename"><%= h(data.config.site_info.title) %></span>
	  <span class="description"><%= h(data.config.site_info.description) %></span>
	</header>

        <!-- navbar -->	
	<nav class="navbar navbar-default">
	  <div class="navbar-header">
	    <button type="button" data-toggle="collapse" data-target="#topHeader" class="navbar-toggle">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <%= link_to("Top", top_page(), {"class" => "navbar-brand"}) %>
	  </div>
	  <div class="collapse navbar-collapse" id="topHeader">
	    <ul class="nav navbar-nav">
	      <% sitemap.resources.select {|p| p.data.group == "navigation"}.each do |page| %>
 	      <li><%= link_to(h(page.data.title), page) %></li>
	      <% end %>
	    </ul>
	  </div>
	</nav>
      </div>

      <!-- sidebar / main -->
      <div class="row">
	<div class="sidebar col-sm-3">  <!--  hidden-xs hidden-sm" -->
	  <%= partial "partials/sidebar" %>
	</div>
	<div class="main col-sm-9">
	  <%= yield %>
	</div>
      </div>
      <!-- footer -->
      <div class="row">
	<footer id="footer">
	  <span>
	    &copy; <%= h data.config.site_info.author %> 
	    (<%= h data.config.site_info.email %>) 
	    powered by middleman and twitter-bootstrap</span>
	</footer>
      </div>
    </div>
    <%= google_analytics_tag() %>
  </body>
</html>


