<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %> - <%= data.config.site_info.title %></title>
    
    <!-- jquery -->
    <%= javascript_include_tag "jquery-1.11.0.min.js" %>
    <!-- bootstrap -->
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <!-- site specific styles -->
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "pygment_trac.css" %>
  </head>
  
  <body>
    <div id="wrap" class="content">
      <div class="navbar navbar-default">
	<ul class="nav navbar-nav">
	  <% top_page = sitemap.find_resource_by_path("/index.html") %>
	  <li><%= link_to("Top", top_page) %></li>
	  <% sitemap.resources.select {|p| p.data.group == "navigation"}.each do |page| %>
	  <li><%= link_to(h(page.data.title), page) %></li>
	  <% end %>
	</ul>
      </div>
      <div class="container <%= page_classes %>">
	<div class="raw">
	  <div class="col-md-3 hidden-xs hidden-sm">
	    <%= partial "partials/sidebar" %>
	  </div>

	  <div class="col-md-9">
	    <%= yield %>
	  </div>
	</div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
	<p>&copy; <%= h data.config.site_info.author %> (<%= h data.config.site_info.email %>) powered by middleman and twitter-bootstrap</p>
      </div>
    </div>
  </body>
</html>


