<% wrap_layout :layout do %>
<div class="page">
  <h1 class="page-header">
    <% if content_for?(:title) %>
      <%= yield_content(:title) %>
    <% else %>
      <%= (current_page.data.series) ? "【" + h(current_page.data.series) +" 】"  + "第" + h(current_page.series_number.to_s) + "回：<br>" : "" %>
      <%= h(current_page.data.title) %>
    <% end %>
  </h1>

  <div>
    <%= current_page.mtime.strftime("%d %b %Y %H:%M:%S %Z") %>
    <%= prose_edit_link(data.config.site_info.github, "site") %>
    <%= share_twitter(data.config.site_info.twitter) %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
  <hr>
  <h2>debug</h2>
  <% page = current_page %>
  <ul>
    <li>source_file: <%= h page.source_file %>
    <li>path: <%= h page.path %>
    <li>destination_path: <%= h page.destination_path %>
    <li>url: <%= h page.url %>
    <li>data.class: <%= h page.data.class %>
    <li>data: <%= h page.data %>
    <li>data.title: <%= h page.data.title %>
  </ul>
</div>
<% end %>
