<% wrap_layout :layout do %>
  <h1 class="page-header">
    <% if content_for?(:title) %>
      <%= yield_content(:title) %>
    <% else %>
      <%= (current_page.data.series) ? "【" + h(current_page.data.series) +" 】"  + "第" + h(current_page.series_number.to_s) + "回：<br>" : "" %>
      <%= h(current_page.data.title) %>
    <% end %>
  </h1>

  <div>
    <%= current_page.mtime.strftime("%d %b %Y %H:%M:%S %Z") %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
<% end %>
