<% wrap_layout :layout do %>
  <div class="article">
    <h1>
      【<%= h(current_page.data.series) %>】第<%= get_series_number(current_page) %>回：
      <%= h(current_page.data.title) %>
    </h1>
    <hr>
    <%= modified_at(current_page).strftime("%d %b %Y") %>
    <div class="content">
      <%= yield %>
    </div>
  </div>
<% end %>
