<h2>Categories</h2>
<ul>
<% sitemap.resources.group_by {|p| p.data.category }.each do |category, pages| %>
  <% next if category.to_s == "" %>
  <li><%= h(category) %>
    <ul>
    <% pages.each do |page| %>
      <li><%= link_to(h(page.data.title), page.url) %>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>

<h2>Series</h2>
<ul>
<% sitemap.resources.group_by {|p| p.data.series }.each do |series, pages| %>
  <% next if series.to_s == "" %>

  <li><%= h(series) %>
    <ol>
    <% pages.sort {|a, b| a.url <=> b.url }.each do |page| %>
      <li><%= link_to(h(page.data.title), page.url) %>
    <% end %>
    </ol>
  </li>
  <% end %>
</ul>

<h2>Recent Updated</h2>
<%= recent_pages({date_format: "%d %b %Y"}) %>
