  <aside>
    <h2>Categories</h2>
    <div>
      <% blog.articles.group_by {|p| p.data.category }.each do |category, pages| %>
      <% next if category.to_s == "" %>
      <h3><%= h(category) %></h3>
      <ul>
	<% num = 10 %>
	<% pages[0..num-1].each do |page| %>
	  <li>
	  <% if page.path == current_page.path %>
	    <%= h(page.data.title) %>
	  <% else %>
	    <%= link_to(h(page.data.title), page) %>
	  <% end %>
	<% end %>
	<% if pages.size > num %>
	  <li><%= link_to("...", "/categories.html#" + h(category)) %>
	<% end %>
      </ul>
    <% end %>
    </div>
  </aside>

  <hr>

  <aside>
    <h2>Series</h2>

      <% sitemap.resources.group_by {|p| p.data.series }.each do |series, pages| %>
      <% next if series.to_s == "" %>
	<h3><%= h(series) %></h3>
	<ol>
	  <% pages.sort {|a, b| a.url <=> b.url }.each do |page| %>
	    <li><%= link_to(h(page.data.title), page) %>
	  <% end %>
	</ol>
      </li>
      <% end %>

  </aside>

  <hr>

  <aside>
    <h2>Tags</h2>
    <ul class="tag_box inline">
      <% blog.tags.each do |tag, pages| %>
        <% caption = "%{tag} <span>%{count}</span>" % {tag: h(tag), count: pages.count} %>
        <li><%= link_to(caption, "/tags.html#" + h(tag)) %></li>
      <% end %>
    </ul>
  </aside>
  
  <hr>

  <aside>
    <h2>Recent Articles</h2>
    
    <% blog.recent_articles_with_date.each do |date, pages| %>
      <h4><%= date.strftime("%d %b %Y") %></h4>
	<ul>
	  <% pages.each do |page| %>
	  <li><%= link_to(h(page.title), page) %></li>
	  <% end %>
	</ul>
    <% end %>

  </aside>
