---
title: Home
layout: layout
pageable: true
---

<nav class="crumbs">
  <ol class="breadcrumb">
    <li class="active">Home</li>
  </ol>
</nav>

<% page_articles.each do | article | %>
  <article class="summary">
    <header>
      <h1><%= link_to(h(article.title), article) %></h1>
      <section class="page_info">
        <%= page_info(article) %>
      </section>
    </header>
    <section class="page_content">
      <%= Nokogiri::HTML(article.summary(250)).text %>
      <%= link_to("... read more", article) %>
    </section>
  </article>
<% end %>

<% if paginate %>
  <nav>
    <ul class="pager">
      <% opt = {}; opt[:class] = 'disabled' if prev_page.nil? %>
      <% content_tag(:li, opt) do; link_to('Prev', prev_page); end %>
      <% opt = {}; opt[:class] = 'disabled' if next_page.nil? %>
      <% content_tag(:li, opt) do; link_to('Next', next_page); end %>
    </ul>
  </nav>
<% end %>

<!--

<h2><%= h(data.config.site_info.title) %></h2>
ソフトウェア開発、フィギュアスケートなどについての情報をまとめています。

<h3>連載記事</h3>
<ul>
  <li>middleman と org-mode でサイト構築
    <%= summary("series", "middleman と org-mode でサイト構築", {list_type: "ol"}) %>

  </li>
</ul>

<h3>ソフトウェア開発</h3>
<%= summary("category", "software", {caption_template: "%{title}"}) %>

<h3>フィギュアスケート</h3>
<%= summary("category", "figureskating") %>
-->
